.breadcrumb {
  font-size: 16px;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;

  li+ li{
    padding-left: 10px;

    &::before {
      float: left;
      padding-right: .5rem;
      color: #6c757d;
      content: var(--bs-breadcrumb-divider, "/");
    } 
  }
}

.path-webform {
  .section {
    .region-content {
      @extend .container;
    }
  }
}

.webform-submission-add-form {
  max-width: 560px;
  margin: auto;
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 30px;

  .webform-flexbox {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  label {
    font-weight: 500;
  }
  
  .js-form-type-date {
    position: relative;
    display: inline-flex;

    label {
      padding-right: 5px;
    }

    .ui-datepicker-trigger {
      position: absolute;
      right: 5px;
      top: 50%;
      margin-top: -8px;
    }
  }

  .form-actions {
    display: inline-block;
    min-width: 150px;
  }
}

.ui-datepicker {
  font-size: 16px;
}


/** alert **/
.sitewide-alert {
  /** Primary **/
  &.alert-primary {
    background-color: #06c;
    border-color: #06c;
    color: #fff;
    font-size: 16px;
    border-radius: 0;
    padding: 15px;
    a {
      font-weight: 600;
      text-decoration: underline;
      color: #fff;

      &:hover {
        text-decoration: none;
      }
    }
    h2 {
      font-size: 16px;
      margin: 0;
      color: #fff;
    }
    p {
      margin: 0;
    }
  }

  /** warning **/
  &.alert-warning {
    background-color: #fff3cd;
    border-color: #fff3cd;
    color: #333;
    font-size: 16px;
    border-radius: 0;
    padding: 15px;
    a {
      font-weight: 600;
      color: #333;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
    p {
      margin: 0;
    }
    h2 {
      font-size: 16px;
      margin: 0;
      color: #333;
    }
  }

  /** notice **/
  &.alert-notice {
    background-color: #cff4fc;
    border-color: #cff4fc;
    color: #333;
    font-size: 16px;
    border-radius: 0;
    padding: 15px;
    a {
      font-weight: 600;
      color: #333;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
    p {
      margin: 0;
    }
    h2 {
      font-size: 16px;
      margin: 0;
      color: #333;
    }
  }
}

.region-breadcrumb {
  @extend .container;
}