.breadcrumb {
  font-size: 16px;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;

  li+ li{
    padding-left: 10px;

    &::before {
      float: left;
      padding-right: .5rem;
      color: #6c757d;
      content: var(--bs-breadcrumb-divider, "/");
    } 
  }
}

.path-webform {
  .layout-main-wrapper {
    @extend .container;
  }
}

.webform-submission-add-form {
  max-width: 560px;
  margin: auto;
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 30px;

  .webform-flexbox {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  label {
    font-weight: 500;
  }
  
  .js-form-type-date {
    position: relative;
    display: inline-flex;

    label {
      padding-right: 5px;
    }

    .ui-datepicker-trigger {
      position: absolute;
      right: 5px;
      top: 50%;
      margin-top: -8px;
    }
  }

  .form-actions {
    display: inline-block;
    min-width: 150px;
  }
}

.ui-datepicker {
  font-size: 16px;
}