/* slider styles */
.paragraph-hero-slider {
  position: relative;

  .slick-dots {
    bottom: 1em;
    left: 0;
    line-height: 1;
    list-style: none;
    margin: 0;
    padding: 0 .5rem;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 100;

    li {
      display: inline-block;
      padding: 0 .5rem;
      vertical-align: middle;

      button {
        background-color: #ccc;
        border: 0 none;
        border-radius: 2em;
        display: block;
        font-size: 1.25rem;
        height: 1em;
        line-height: 1;
        margin: 0;
        overflow: hidden;
        padding: 1em 0 0;
        width: 1em;

        @media (min-width: 40rem) {
          font-size: 1rem;
        }

        &:hover {
          background-color: #fff;
        }
      }

      &.slick-active {
        button {
          background-color: #fff;
        }
      }
    }
  }
}

.paragraph-slider {
  background-color: #06c;
  padding-bottom: 2.5em;
  height: 100%;
  width: 100%;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  .paragraph-slider-wrapper {
    padding-bottom: .5em;
    padding-top: .5em;;
    max-width: 81rem;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 62rem) {
      padding-left: calc(-1.26316rem + 5.26316vw);
      padding-right: calc(-1.26316rem + 5.26316vw);
    }

    @media (min-width: 40rem) {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      height: 100%;
      -webkit-box-pack: center;
      justify-content: center;    
      min-height: 25em;  
      padding-left: calc(-0.81818rem + 4.54545vw);
      padding-right: calc(-0.81818rem + 4.54545vw);      
    }
  }

  .slide-content {
    max-width: 42em;
    position: relative;
    transform: translateY(0);
    color: #fff;

    .field--name-field-headline {
      font-weight: bold;
      line-height: 1.15;
      text-transform: uppercase;
      font-size: 1.75rem;
      margin: 1em 0 .5em;

      @media (min-width: 62rem) {
        font-size: 2.8125rem;
        font-size: calc(1.79276rem + 1vw);
      }

      @media (min-width: 62rem) {
        font-size: 2rem;
        font-size: calc(0.52273rem + 2.5vw);
      }

      @media (min-width: 30rem) {
        font-size: 1.75rem;
        font-size: calc(1rem + 1.5vw);
      }
    }

    .field--name-field-subheadline {
      font-size: 1.25em;
      border-top: 0.25em solid #06c;
      padding-top: 1em;

      @media (min-width: 40rem) {
        opacity: 1;
        transition: opacity .5s ease-in-out;
        transition-delay: 1s;
      }
    }

    .field--name-field-button {
      margin: 1em 0;

      a {
        background-color: transparent;
        border: 1px solid;
        border-radius: 1em;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        fill: none;
        font-size: .875em;
        line-height: 1.25;
        margin-bottom: .25em;
        margin-top: .25em;
        padding: .375em 1em .25em;
        stroke: currentColor;
        text-transform: uppercase;
        font-family: inherit;
        width: auto;
        display: inline-block;

        &:hover,
        &:focus {
          background-color: #06c;
          color: #fff;
          border-color: #06c;
          text-decoration: none;
        }
      }
    }
  }
}
